# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/

# PyInstaller
*.manifest

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Output archives / temp
*.sb
*.tmp
